@import '../../styles/theme.scss';

.banner {
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  color: white;
  position: relative;
  height: 24em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.bannerContent {
  max-width: 800px;
  margin-bottom: 1rem;
  width: 30%;
  h1{
    font-size: 48px;
    color: $color-primary-light;
  }
  p{
    font-size: 20px;
    margin-top: 1rem;
    color: $color-primary-light;
  }
}

.path {
    position: absolute;
    bottom: 16px;
    left: 48px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}
