// Cores
$color-primary-bg: #046C40;
$color-hover-text: #00AF66;
$color-link-text: #555555;
$color-title-text: #333333;
$color-card-text: #2E7D32;
$color-subtitle-text: #424242;
$color-cta-title: #2E7D32;
$color-card-bg: #F6F6F6;
$color-phone-bg: #2E7D32;
$color-on-white-bg: #FFFFFF;
$color-bg-button: #00AF66;
// Tamanhos de fonte
$font-size-banner-title: 42px;
$font-size-banner-subtitle: 36px;
$font-size-subtitle: 28px;

$font-size-text-xl: 18px;
$font-size-text-lg: 16px;
$font-size-text-md: 14px;
$font-size-text-sm: 12px;

// Fontes
$font-primary: 'Arial', sans-serif; // ou substitua pela fonte desejada
