@import "../../../styles/theme.scss";

.button {
  padding: 0.9rem 2rem;
  background-color: $color-bg-button;
  color: $color-white;
  border: none;
  border-radius: $border-radius-md;
  font-size: $font-size-text-lg;
  cursor: pointer;
  transition: all $transition-normal;
  white-space: nowrap;
  font-family: $font-primary;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: fit-content;
  min-width: 200px;
  box-shadow: $shadow-md;
  
  svg {
    margin-top: 2px;
    margin-left: 4px;
    font-size: 18px;
  }
  
  &:hover {
    background-color: $color-button-hover;
    box-shadow: $shadow-lg;
    transform: translateY(-1px);
  }
  
  &:active {
    background-color: $color-button-active;
    transform: translateY(0);
  }
  
  &:focus-visible {
    outline: 2px solid $color-focus-ring;
    outline-offset: 2px;
  }

  &.secondary {
    background: transparent;
    border: 2px solid $color-bg-button;
    color: $color-bg-button;
    box-shadow: none;

    &:hover {
      background-color: $color-bg-button;
      color: $color-white;
      transform: translateY(-1px);
      box-shadow: $shadow-md;
    }
    
    &:active {
      background-color: $color-button-hover;
    }
    
    &:focus-visible {
      outline: 2px solid $color-bg-button;
    }
  }
  
  &:disabled {
    background-color: $color-text-light;
    cursor: not-allowed;
    opacity: 0.6;
    
    &:hover {
      transform: none;
      box-shadow: $shadow-md;
    }
  }
}

@media (max-width: 780px) {
  .button {
    width: 100%;
    min-width: auto;
    padding: 0.9rem 1rem;
    font-size: $font-size-text-md;
    font-weight: 500;
  }
}