@import '../../styles/theme.scss';

.timelineContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.timelineLine {
  position: absolute;
  left: 50%;
  top: 70px;
  bottom: 0;
  width: 2px;
  background-color: $color-phone-bg; 
  transform: translateX(-50%);
  z-index: 1;
}

.timelineLineAlt {
  top: 70px !important;
  height: 85%;
}

.timelineItems {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}

.timelineItem {
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
  
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  &.firstItem {
    margin-top: 1rem;
  }
  
  &.lastItem {
    margin-bottom: 1rem;
  }
  
  &.left {
    .itemContent {
      justify-content: flex-start;
      padding-right: 50%;
      
      .textCard {
        margin-right: 2rem;
      }
    }
  }
  
  &.right {
    .itemContent {
      justify-content: flex-end;
      padding-left: 50%;
      
      .textCard {
        margin-left: 2rem;
      }
    }
  }
}

.itemContent {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 140px;
}

.textCard {
  padding: 1rem 1.5rem;
  border: 2px solid $color-bg-button; /* Vermelho principal */
  border-radius: 8px;
  background-color: $color-card-bg; /* Fundo branco */
  transition: all 0.5s ease;
  width: 380px;
  text-align: center;
  
  p {
    margin: 0;
    color: $color-card-text; /* Texto escuro dos cards */
    transition: all 0.3s ease;
    font-family: $font-primary;
  }
  
  &:hover, &.activeCard {
    background-color: $color-bg-button; /* Vermelho do botão */
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    p {
      color: $color-white; /* Texto branco no hover/ativo */
    }
  }
}

.timelineIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $color-white; /* Fundo branco */
  border: 2px solid $color-bg-button; /* Borda vermelha */
  border-radius: 50%;
  color: $color-bg-button; /* Ícone vermelho */
  font-size: 1.2rem;
  transition: all 0.8s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  
  &:hover, &.activeIcon {
    background-color: $color-bg-button; /* Fundo vermelho */
    color: $color-white; /* Ícone branco */
  }
}